@model Albergo.Models.Prenotazione
@{
    ViewBag.Title = "Dettagli";
}

<h2 class="mt-5 mb-4">Dettagli soggiorno ospite</h2>

<table>
    <tr>
        <td>Prenotazione ID:</td>
        <td>@Model.Prenotazione_ID</td>
    </tr>
    <tr>
        <td>Nome:</td>
        <td>@Model.Ospite.Nome</td>
    </tr>
    <tr>
        <td>Cognome:</td>
        <td>@Model.Ospite.Cognome</td>
    </tr>
    <tr>
        <td>Numero Camera:</td>
        <td>@Model.Camera.Numero</td>
    </tr>
    <tr>
        <td>Data Arrivo:</td>
        <td>@Model.Data_Arrivo.ToShortDateString()</td>
    </tr>
    <tr>
        <td>Data Partenza:</td>
        <td>@Model.Data_Partenza.ToShortDateString()</td>
    </tr>
    @if (Model.Checkout != null)
    {
        <tr>
            <td>Notti:</td>
            <td>@Model.Checkout.Notti</td>
        </tr>
        <tr>
            <td>Totale Servizi:</td>
            <td>@Model.Checkout.TotServizi.ToString("C")</td>
        </tr>
        <tr>
            <td>Totale soggiorno camera:</td>
            <td>@Model.Checkout.TotPren.ToString("C")</td>
        </tr>
    }
    else
    {
        <tr>
            <td colspan="2">Dettagli checkout non disponibili</td>
        </tr>
    }
</table>



