@model List<Albergo.Models.Prenotazione>

@{
    ViewBag.Title = "Prenotazioni";
}

<h2 class="mt-5 mb-4">Prenotazioni</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Prenotazione ID</th>
            <th>Data Prenotazione</th>
            <th>Data Arrivo</th>
            <th>Data Partenza</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Numero Camera</th>
            <th>Tipo Pensione</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prenotazione in Model)
        {
            <tr >
                <td class="pt-3 text-center">@prenotazione.Prenotazione_ID</td>
                <td class="pt-3 text-center">@prenotazione.Data_Pren.ToString("yyyy-MM-dd")</td>
                <td class="pt-3 text-center">@prenotazione.Data_Arrivo.ToString("yyyy-MM-dd")</td>
                <td class="pt-3 text-center">@prenotazione.Data_Partenza.ToString("yyyy-MM-dd")</td>
                <td class="pt-3 text-center">@prenotazione.Ospite.Nome</td>
                <td class="pt-3 text-center">@prenotazione.Ospite.Cognome</td>
                <td class="pt-3 text-center">@prenotazione.Camera.Numero</td>
                <td class="pt-3 text-center">@prenotazione.Pensione.Tipo</td>
                <td class="d-flex justify-content-evenly">
                    @Html.ActionLink("Dettagli", "Details", "Prenotazioni", new { id = prenotazione.Prenotazione_ID }, new { @class = "btn btn-outline-info me-2" })
                    @Html.ActionLink("Aggiungi servizi", "AddServizi", "Prenotazioni", new { id = prenotazione.Prenotazione_ID }, new { @class = "btn btn-outline-success" })
                </td>
            </tr>
        }
    </tbody>
</table>

